version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_DEEPFAKE_API_URL: "http://api:5050/api/v1/predict/file"
    ports:
      - "80:80"
    depends_on:
      - api
    networks:
      - app-network

  api:
    image: karnamshyam1947/deepfake-detection-api:flask
    container_name: api
    ports:
      - "5050:5050"
    networks: 
      - app-network

networks:
  app-network:
    driver: bridge

